body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000505;
    font-size: 20px;
    padding-right: 20px grey;
}
h1{
    color: #3b3355;
    text-align: left;
    font-size: 45px;
}
.header_image {
    background-image: url(/images/Main_DigitalMarketing.jpg);
    background-repeat: no-repeat;
    background: cover;
    position: relative;
    height: 500px;
    background-position: right;

}
.header_quote {
    position: absolute;
    top: 30%;
    left: 24%;
    transform: translate(-50%, -50%);
    color: #fefcfd;
    font-size: 1.75em;
    font-weight: bold;
    text-shadow: 2px 2px 4px lightgrey;
}
ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
li {
    line-height: 80px;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;    
}
h3{
    color: #5d5d81;
    font-weight: bold;
    font-size: 35px;
    
}
p{
    color: #fefcfd;
    font-weight: bold;
    
}
article{
    padding-top: 100px;
    padding-bottom: 100px;
}
