body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000505;
    font-size: 1.25em;
    margin-left: 1.25em;
    margin-right: 1.25;
}
span{
    color: #3b3355;
}
* {
    margin: 0;
    padding-right: 20px;
    padding-bottom: 15px;
}
.img-main {
    width: 100%;
}

.icon {
    width: 200px;
    height: 75px;
    float: left;
}
.logo {
    color: #bfcde0;
    font-size: 2.25em;
    font-family: Arial;
    padding-left: 35px;
    float: left;
    padding-top: 20px;
}
.menu {
    width: 400px;
    float: left;
    height: 75px;
    align-items: center;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 65px;
    margin-top: 35px;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    color: #fefcfd;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
ul li a:hover {
    color: #3b3355;
}
.quote {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefcfd;
    font-size: 1.75em;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

h3{
    color: #5d5d81;
    font-weight: bold;
    font-size: 35px;
    
}
p{
    color: #fefcfd;
    font-weight: bold;
    
}
.article-left{
    border: solid #3b3355 5px;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    max-width: 850px;
    float: left;
    
}
.article-right{
    border: solid #3b3355 5px;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    max-width: 850px;
    float: right;
}
strong {
    color: #5d5d81;
}
