body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000505;
    font-size: 20px;
    padding-right: 20px grey;
}
h1{
    color: #fefcfd;
    text-align: left;
    font-size: 45px;
}
span{
    color: #3b3355;
}
* {
    margin: 0;
    padding-right: 20px;
}

.icon {
    width: 200px;
    height: 75px;
    float: left;
}
.logo {
    color: #3b3355;
    font-size: 40px;
    font-family: Arial;
    padding-left: 35px;
    float: left;
    padding-top: 20px;
}
.menu {
    width: 400px;
    float: left;
    height: 70px;
    align-items: center;
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 30px;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    color: #fefcfd;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color: #3b3355;
}

h3{
    color: #5d5d81;
    font-weight: bold;
    font-size: 35px;
    
}
p{
    color: #fefcfd;
    font-weight: bold;
    
}
article{
    padding-top: 100px;
    padding-bottom: 100px;
}
