html {
    background-color: #ffffff;
}

h2 {
    font-size: 26px;
    color:#2c698d;
    float: top;
}

ul {
    list-style-type: none;
    margin-left: inline;
}

li {
    display: inline;
    padding: 5px;
    background: #2c698d;
    color: white;
}